# Gemini API Key
GEMINI_API_KEY=""

# Amplitude Keys
VITE_AMPLITUDE_API_KEY="84ace0d2f36082f53ba6988af698a0b6"
VITE_AMPLITUDE_DEPLOYMENT_KEY="client-e5i3wQyD63cEbl6DpKNbGDhq4sg3Xmfh"

# App Info
VITE_APP_URL="https://ais-dev-prqomclwgl2bkcpsrmoduy-416584792818.us-east1.run.app"
VITE_GITHUB_BASE="/minders-pay-mobile/"
